header{
    height: 50px;
    width:  100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.nav_header{
    display: flex;
    justify-content: center;
}
.section_nav_header{
    border: 1px solid black;
}
.img_section_nav_header{
    height: 40px;
    width: 40px;
}
.anchor_container {
    display: flex;
    justify-content: center;
}
.p_section_nav_header {
    margin: 10px 20px;
}